a {
  text-decoration: none;
  color: rgb(164 49 216);
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

button {
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

.card {
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1), box-shadow 0.25s cubic-bezier(0.22, 1, 0.36, 1), border-color box-shadow 0.25s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 0px 25px rgba(0,0,0,0.2);
  border: 1px solid #acacad,
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 30px rgba(70, 45, 209, 0.3);
  border-color: rgba(70, 45, 209, 0.3);
}

nav a:hover, button:hover {
  transform: scale(1.05);
}

.dashboard-title {
  color: #ffff;
}